<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
  <meta property="description" content="{{ site.description }}"/>
  <meta property="og:title" content="{{ site.title | escape }}"/>
  <meta property="og:description" content="{{ site.description }}"/>
  <meta property="og:image" content="{{ "/img/og-image.png" | prepend: site.baseurl | prepend: site.url }}"/>
  <meta name="twitter:url" content="{{ site.url }}"/>
  <meta name="twitter:site" content="@{{ site.twitter_username }}"/>
  <meta name="twitter:creator" content="@{{ site.twitter_username }}"/>
  <meta name="twitter:image:src" content="{{ "/img/og-image.png" | prepend: site.baseurl | prepend: site.url }}"/>
  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:title" content="{{ site.title | escape }}"/>
  <meta name="twitter:description" content="{{ site.description }}"/>

  <title>{{ site.title | escape }}</title>

  <link href="https://fonts.googleapis.com/css?family=Economica:400,700|Roboto+Condensed:400,700" rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css"/>
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

  <script src="https://connect.soundcloud.com/sdk/sdk-3.1.2.js"></script>
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "url": "{{ site.url }}",
      "logo": "{{ "/img/reel2reel.png" | prepend: site.baseurl | prepend: site.url }}",
      "sameAs" : [
        "https://twitter.com/{{ site.twitter_username }}",
        "https://www.facebook.com/{{ site.social_username }}",
        "https://soundcloud.com/{{ site.social_username }}"
      ]
    }
    
  </script>

</head>
