<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
  <meta property="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}"/>

  <meta property="og:url" content="{{ site.url }}"/>
  <meta property="og:site_name" content="{{ site.name }}">
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title | escape }}{% endif %}"/>
  <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}"/>
  <meta property="og:image" content="{{ "/img/og-image.png" | prepend: site.baseurl | prepend: site.url }}"/>

  <meta name="twitter:url" content="{{ site.url }}"/>
  <meta name="twitter:site" content="@{{ site.twitter_username }}"/>
  <meta name="twitter:creator" content="@{{ site.twitter_username }}"/>
  <meta name="twitter:image:src" content="{{ "/img/og-image.png" | prepend: site.baseurl | prepend: site.url }}"/>
  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }} | {{ site.name | escape }}{% else %}{{ site.title | escape }}{% endif %}"/>
  <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}"/>

  <title>{% if page.title %}{{ page.title | escape }} | {{ site.name }}{% else %}{{ site.title | escape }}{% endif %}</title>

  <link href="https://fonts.googleapis.com/css?family=Economica:400,700|Roboto+Condensed:400,700" rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css"/>
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <script src="https://connect.soundcloud.com/sdk/sdk-3.0.0.js"></script>
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "url": "{{ site.url }}",
      "logo": "{{ "/img/reel2reel.png" | prepend: site.baseurl | prepend: site.url }}",
      "sameAs" : [
        "https://twitter.com/{{ site.twitter_username }}",
        "https://www.facebook.com/{{ site.social_username }}",
        "https://soundcloud.com/{{ site.social_username }}"
      ]
    }
    
  </script>

</head>
