<ul class="social">
  <li><a class="link--icon" href="https://twitter.com/{{ site.twitter_username }}" target="_blank" title="Follow us on Twitter"><i class="fa fa-twitter"></i></a></li>
  <li><a class="link--icon" href="https://www.facebook.com/{{ site.social_username }}" target="_blank" title="Follow us on Facebook"><i class="fa fa-facebook"></i></a></li>
  <li><a class="link--icon" href="https://soundcloud.com/{{ site.social_username }}" target="_blank" title="Listen to us on Soundcloud"><i class="fa fa-soundcloud"></i></a></li>
  <li><a class="link--icon" href="https://itunes.apple.com/ca/podcast/reel-2-reel-podcast/id1001209243?mt=2" target="_blank" title="Listen to us on Itunes"><i class="fa fa-apple"></i></a></li>
  <li><a class="link--icon" href="mailto:{{ site.email }}" target="_blank" title="Email us at {{ site.email }}"><i class="fa fa-envelope"></i></a> </li>
</ul>