.post {
  display: flex;
  &-list {
    li {
      margin-bottom: 2rem;
      &:not(:last-of-type) {
        border-bottom: 1px solid $secondary-color;
        padding-bottom: 2rem;
      }
      h2 {
        a {
          color: $secondary-color;
          text-transform: none;
          line-height: 1.4;
        }
      }
      strong {
        color: #aaaaaa;
      }
    }
    h2 + p {
      margin-top: 1.15em;
    }
  }
  &-details {
    margin-right: 2rem;
    text-align: center;
    color: #aaaaaa;
    text-transform: uppercase;
    font-weight: bold;
    .link--icon {
      color: #55acee;
    }
    @include respond-to(small) {
      text-align: left;
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
    }
  }
  &-content {
    font-size: 1.2rem;
    line-height: 1.7;
    h2,
    h3,
    h4,
    ul,
    ol,
    img,
    blockquote,
    p {
      &:not(:first-child) {
        margin-top: 1.5rem;
      }
    }
    ul,
    ol {
      margin-left: 1em;
    }
    ul {
      list-style: disc;
    }
    ol {
      list-style: decimal;
    }
    p {
      max-width: 100%;
      margin: 0;
    }
    a {
      @extend %dotted-border;
      @extend %no-text-decoration;
      color: darken($primary-color, 10%);
      &:hover,
      &:focus {
        @extend %solid-border;
      }
    }
    strong {
      text-transform: none;
    }
    em {
      font-style: italic;
    }
    img {
      max-width: 80%;
      display: block;
      margin: 0 auto;
      + em {
        color: #aaaaaa;
        font-size: .8rem;
        display: block;
        margin: 0 auto;
        max-width: 80%;
        text-align: center;
      }
    }
    blockquote {
      background: #f9f9f9;
      border-left: 10px solid #ccc;
      margin: 1.5em 10px;
      padding: 0.5em 10px;
      quotes: "\201C""\201D""\2018""\2019";
      &:before {
        font-family: Arial;
        color: #ccc;
        content: open-quote;
        font-size: 4em;
        line-height: 0.1em;
        margin-right: 0.25em;
        vertical-align: -0.4em;
      }
      p {
        display: inline;
      }
    }
    @include respond-to(small) {
      font-size: 1rem;
    }
  }
  &-share {
    margin-top: 1.5rem;
    a {
      border-bottom: 0;
      margin-left: 1rem;
    }
  }
  @include respond-to(small) {
    flex-direction: column;
  }
}