section {
  padding: 2rem 1rem;
}
.section {
  &--dark {
    @extend %bg-secondary;
    @extend %text-white;
  }
  &--light {
    @extend %bg-primary;
  }
  &--grey {
    background-color: #eeeeee;
  }
  &--center {
    text-align: center;
  }
  &--padding {
    margin: 4em 0 0;
    padding: 6em 0;
  }
}